.img-text-serif{
    font-family: 'Libre Baskerville', serif;
    font-size: 16px;  
}
.cita-serif{
    font-family: 'Libre Baskerville', serif;
    font-size: 14px;
    padding: 30px;
}


.read-time{
    font-family: 'Libre Baskerville', serif;
    color:rgb(202, 51, 40);
    font-style: unset;
    font-size: 14px;
}

p{
    font-family: 'Libre Baskerville', serif;
    font-size: 16px;
    line-height: 30px;
    
}

h1{
    font-family: 'Libre Baskerville', serif;
    font-size: 35px;
    font-weight: 700;
    color: #3c4041;
}

h2{
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 25px;
}

h3{
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 16px;
}

.navbar{
    font-family: 'Russo One', sans-serif;
    font-size: 20px;
}

.pub-date{
    font-family: 'Libre Baskerville', serif;
    font-size: 14px;
    color: cornflowerblue;
    line-height: 1px;
    
}

.fondo-plomo{
    background-color: rgb(255,255,255);
}
.resaltar-amarillo{
    background-color: rgba(255, 255, 143, 0.986);
}