/* :root { font: 22px/24px 'Lora', serif;} */

body,
body * {
    margin:             unset;
    box-sizing:         unset;
    padding:            unset;
    font-size:          unset;
    color:              unset;
    text-decoration:    unset;
}

figure * {display: block;}