h2, p {margin-bottom: 2.0rem;}

p   {font: 400 1.0rem/1.5 "Lora"; color: hsl(000, 0%, 33%);}
h1  {font: 700 2.0rem/1.2 "Lora"; color: hsl(000, 0%, 33%);}
h2  {font: 400 1.5rem/1.2 "Lora"; color: hsl(000, 0%, 33%);}
h3  {font: 700 1.0rem/1.2 "Lora"; color: hsl(0, 0%, 33%);}
time{font: 700 1.0rem/1.2 "Lora"; color: hsl(219, 82%, 78%);}

figcaption p {font: 400 1.0rem/1.5 "Lora"; color: hsl(000, 0%, 53%);}

a.subraya-enlace {box-shadow: inset 0 -0.25rem rgb(241, 243, 151);}
/* Disminuir tamaño de letra en responsive (desactivado) */
@media (max-width: 8.5in) {:root {font-size: 20px;}}

